[Unit]
Description=Pro Appointments: appointment reminders to clients (one pass) (hourly)

[Timer]
OnBootSec=1min
OnCalendar=hourly
AccuracySec=10s

[Install]
WantedBy=timers.target
